export DATA_DIR="/Volumes/GoogleDrive/Team Drives/GOV.UK teams/2018-2019/Q3/Knowledge up Q3/Data science/data/"
export LOGGING_CONFIG="$PWD/src/logging.conf"
export BQ_KEY_DIR="$PWD/key"
export QUERIES_DIR="$PWD/src/data/queries/"
export DOCUMENTS="$HOME/Documents"
