appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
bleach==3.1.1
bokeh==1.3.4
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorcet==2.0.2
cycler==0.10.0
dask==2.5.2
datashader==0.8.0
datashape==0.5.2
decorator==4.3.0
defusedxml==0.5.0
distributed==2.5.2
entrypoints==0.2.3
fsspec==0.5.2
google-api-core==1.5.0
google-auth==1.5.1
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.6.0
google-cloud-core==0.28.1
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
HeapDict==1.0.1
holoviews==1.12.6
idna==2.7
imageio==2.6.1
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
llvmlite==0.30.0
locket==0.2.0
MarkupSafe==1.0
matplotlib==3.1.1
mistune==0.8.4
more-itertools==4.3.0
msgpack==0.6.2
multipledispatch==0.6.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numba==0.46.0
numpy==1.15.2
oauthlib==2.1.0
packaging==19.2
pandas==0.25.1
pandas-gbq==0.6.1
pandocfilters==1.4.2
param==1.9.2
parso==0.3.1
partd==1.0.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
pluggy==0.8.0
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.6.3
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pyct==0.4.6
Pygments==2.2.0
pyparsing==2.4.2
pytest==3.9.3
python-dateutil==2.7.3
python-louvain==0.13
pytz==2018.5
pyviz-comms==0.7.2
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.20.0
requests-oauthlib==1.0.0
rsa==4.0
scikit-image==0.16.1
scipy==1.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==2.1.0
tblib==1.4.0
terminado==0.8.1
testpath==0.4.2
toolz==0.10.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.14.0
zict==1.0.0
